@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <section class="text-center">
        <h1 class="display-3"><strong>Resume Manager</strong></h1><br />
        <p class="lead">INDIVIDUAL TEST 3&4 - .NET MVC EF CORE CODE FIRST</p>
        <p class="lead">CHEN PYNG HAW A22EC0042</p>
        <br />
        <a class="btn btn-primary btn-lg fw-bold shadow" asp-area="" asp-controller="Resume" asp-action="Index">
            List of Applicants
        </a>
    </section>
</div>
